.myimage{
    border-radius: 50%;
}
.Copyright{
    color: #468585;
}
body{
    background-color: whitesmoke;
}
h1{
    color: #173B45;
}
h2{
    color:#33372C ;
}
.objective{
    text-align: justify;
}
.headname{
    display: flex;
    gap: 10px;
    align-items: center;
}
.headname>div{
   background-color: #173B45;
}
.name{
    color: white;
}
.button{
    border-color: #173B45;
}



